

    ion-thumbnail{
        height :10vh;
        width: 20vw;
    
        img{
            border-radius: 5px;
            height: 100%;
            width:100%
        }
    }

    ion-label{
        ion-text{
            font-size: 0.9rem !important;
            font-weight: bold;
        }
        p{
            font-size: 0.7rem !important;
        }
        ion-text,p{
         max-width: 25vh !important;
        }
    }

    ion-row{
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
    }

    .quantity{
        width:2rem;
    }

    ion-text{
        font-size: 0.85rem;
        p{
            padding-top: 0.2rem;
        }
    }

    h4{
        font-size: 1rem;
        font-weight: bold;
    }

    .add{
        padding : 0 1.2rem;
    }

