<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>forgot-password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #f2="ngForm" (ngSubmit)="onSubmit(f2)">
  <ion-list lines="none" class="ion-padding">
    <ion-item color="light" class="ion-margin-bottom">
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-input
      type="email"
      name="email"
      email
      ngModel
      required
      #emailCtrl ="ngModel"
      placeholder="enter email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
    <p>* Please provide a valid email address</p>
    </ion-text>
  </ion-list>

  <div class="ion-text-center">
    <ion-button *ngIf="!isLoading" type="submit" color="primary" [disabled]="!f2.valid">Send Link</ion-button>
    <ion-button *ngIf="isLoading" shape="round" color="primary" [disabled]="!f2.valid">
    <ion-spinner name="crescent"></ion-spinner>
    </ion-button>
  </div>
  </form>
</ion-content>
